body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 6px solid black;
  width: 500px;
  height: auto;
  /* border-radius: 10px; */
  padding: 10px;
  background-color: #c5c5c5;
  margin: auto auto;
} 

.data{
  font-weight: bold;
}

.avatar {
  display: block;
  border-radius: 10px;
  object-fit: cover;
  margin:0;
  width: 500px;
  height: 250px;
}

.name {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  font-weight: bolder;
}

.intro{
  font-size: 18px;
  color: #666;
  text-align: justify;
}

.skillset{

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill{
border-radius: 8px;
padding: 5px 10px;
font-weight: 500;
}






